.PNG {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.container {
    background-color: rgb(248, 247, 246);
    height: 100vh;
    /* Vh VeiwPort*/
    border: black;
    border-width: 3px;
    border-style: solid;
}

.borders {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.toribo1 {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.toribo2 {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.toribo3 {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}